.App {
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 100px;
  }
  
  .App_Column {
    flex-direction: column;
  }
  
  .login_container {
    width: 400px;
  }
  
  .form {
    display: flex;
    border: 1px solid #ddd;
    flex-direction: column;
    padding: 20px;
  }
  
  p {
    margin-top: 0;
  }
  
  input {
    margin: 15px 0;
    padding: 10px;
  }
  
  .submit {
    padding: 10px;
  }
  
  .error {
    color: red;
    font-weight: bold;
  }
  
  .useContext {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 20px auto 500px;
  }
  
  .todoContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  
  .todoItem {
    border: 1px solid #eee;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .todoItem p {
    margin: 0;
  }